<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="isModalOpen = true">Open Modal</ion-button>
</ion-content>
<ion-modal
  class="full-modal"
  [isOpen]="isModalOpen"
  (didDismiss)="isModalOpen = false"
  [swipeToClose]="true"
  mode="ios"
>
  <ng-template>
    <app-inline-modal></app-inline-modal>
  </ng-template>
</ion-modal>
